html,
body {
  width: 100%;
  height: 100%;
}
#wrap {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
#wrap .chuangliang {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrap .chuangliang .left {
  float: left;
}
#wrap .chuangliang .right {
  float: right;
}
#wrap .main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrap .main .wutai {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -455px;
}
#wrap .main .tv_box {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -212px;
  z-index: 100;
}
#wrap .main .tv_box .btn_play {
  width: 270px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  bottom: 39px;
  right: 22px;
  background: url(../img/btn_03.png) no-repeat 70px center;
}
#wrap .main .tv_box .btn_stop {
  width: 270px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  bottom: 39px;
  right: 22px;
  background: url(../img/btn_05.png) no-repeat 70px center;
  display: none;
}
#wrap .main .tv_box .wen {
  color: #fff;
  font-family: "娃娃体-简";
  font-size: 40px;
  position: absolute;
  bottom: 130px;
  left: 80px;
  width: 180px;
  height: 135px;
  line-height: 135px;
  text-align: center;
}
#wrap .main .houzi {
  position: absolute;
  bottom: 330px;
  left: 50%;
  margin-left: -139px;
}
#drawnBox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  display: none;
}
#drawnBox div{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  background: skyblue;
}
#drawnBox #pic{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  border-radius: 50%;
}
#drawnBox #pic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#drawnBox p{
  font-size: 60px;
  color: #f00;
  margin-top: 30%;
  margin-left: 30%;
}
