 *{ margin:0; padding:0;}
body{ font-family:"宋体"; font-size:12px; color:#000000;}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:14px;}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none; color:#333333;}
a:hover{ color:#009999;}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}

#box{
	width: 1000px;
	margin: 0 auto;
}
.wrap{
	width: 179px;
	position: fixed;
	bottom: 0;
	right: 0;
	display:block;
}

.list li{
    width: 120px;
	margin-top: 2px;
	background: #FF4878;
	color: #fff;
	font-weight: 800;
	padding: 16px 30px;
	margin-left: 100px; 
}
.list li span{
	display: none;
}
.list li.bg{
	width: 200px;
	margin-left: -10px;
}
.return{
	margin-top: 2px;
	background: #FF4878;
	color: #fff;
	font-weight: 800;
	padding: 16px 30px;
	width: 20px;
	float: right;
}
.f1,.f2,.f3,.f4,.f5,.f6{
	font-size: 100px;
	color: #fff;
	line-height: 600px;
	text-align: center;
}
.f1{
	background: red;
}
.f2{
	background: orange;
}
.f3{
	background: yellow;
}
.f4{
	background: green;
}
.f5{
	background: blue;
}
.f6{
	background: purple;
}